

.clients-word{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}

.pricing ul{
    list-style: none;
    padding-left: 0;
}
.pricing ul li{
    margin-bottom: 10px;
}
.pricing ul li span{
    margin-right: 10px;
    color: blue;
    background: rgb(238, 238, 252);
    border-radius: 50%;
    padding: 2px 5px;
}
.pricing:hover{
    background: #3f87f5;
    color: white;
    transform: translateY(-30px);
}
.pricing:hover::before{
    visibility: visible;
}

.pricing{
    position: relative;
    transition: .5s ease-in-out;
}

.pricing::before {
    content: "Hot";
    top: -2.5%;
    left: 76%;
    position: absolute;
    background: red;
    padding: 0.1rem .5rem;
    border-radius: 24px;
    font-weight: 700;
    
    visibility: hidden;
    transition: .2s ease-in-out;
}


.pricing{
    border-radius: 15px;
}

footer{
    color: white;
}




